$desktop-width: 1920;
$laptop-width: 1440;
$tablet-width: 1024;
$mobile-width: 768;
$mobile-s-width: 480;
$min-viewport-width: 360;

$container-padding-desktop: 160;
$container-padding-mobile: 16;

$section-padding-y-desktop: 32;
$section-padding-y-mobile: 16;

$section-gap-desktop: 24;
$section-gap-mobile: 16;
