@use 'constants' as *;

$laptop: $laptop-width * 1px;
$tablet: $tablet-width * 1px;
$mobile: $mobile-width * 1px;
$mobile-s: $mobile-s-width * 1px;

@mixin to-laptop {
  @media (width > $laptop) {
    @content;
  }
}

@mixin from-laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin to-tablet {
  @media (width > $tablet) {
    @content;
  }
}

@mixin from-tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin to-mobile {
  @media (width > $mobile) {
    @content;
  }
}

@mixin from-mobile {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin to-mobile-s {
  @media (width > $mobile-s) {
    @content;
  }
}

@mixin from-mobile-s {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if $hasActiveEffectOnMobile {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
