@use 'constants' as *;

$laptop: $laptop-width * 1px;
$tablet: $tablet-width * 1px;
$mobile: $mobile-width * 1px;
$mobile-s: $mobile-s-width * 1px;

@mixin laptop-above {
  @media (width > $laptop) {
    @content;
  }
}

@mixin laptop-below {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet-below {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile-below {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > $mobile-s) {
    @content;
  }
}

@mixin mobile-s-below {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin hover-focus($activeOnMobile: true, $focusVisible: false) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if $activeOnMobile {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }

  @if $focusVisible {
    &:focus-visible {
      @content;
    }
  }
}
