@use 'functions' as *;

@mixin fluid-text($max, $min) {
  font-size: fluid($max, $min);
}

@mixin hide {
  display: none !important;
}

@mixin visually-hide {
  visibility: hidden;
  opacity: 0;
}

@mixin visually-show {
  visibility: visible;
  opacity: 1;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-cover {
  position: absolute;
  inset: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

@mixin square-size($size) {
  aspect-ratio: 1;
  width: $size;
}

@mixin focus-visible {
  outline: 2px solid var(--color-white);
  outline-offset: 4px;
  transition: 0s !important;
}

@mixin disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}
