.color-bg-dark {
  background-color: var(--color-bg-dark);
}
.color-bg {
  background-color: var(--color-bg);
}
.color-bg-light {
  background-color: var(--color-bg-light);
}
.color-text {
  background-color: var(--color-text);
}
.color-text-secondary {
  background-color: var(--color-text-secondary);
}
.color-border {
  background-color: var(--color-border);
}
.color-border-top {
  background-color: var(--color-border-top);
}
.gradient {
  background: var(--gradient);
}
.gradient-hover {
  background: var(--gradient-hover);
}
.color-accent {
  background-color: var(--color-accent);
}
.color-accent-secondary {
  background-color: var(--color-accent-secondary);
}
.gradient-accent {
  background: var(--gradient-accent);
}
