.animated-link {
  --charPositionY: 0;

  overflow-y: hidden;
  display: inline-block;
  height: max-content;
  color: var(--color-text);
  text-shadow: var(--color-accent) 0 3ex;

  @include hover-focus($activeOnMobile: false, $focusVisible: true) {
    .animated-link__char {
      --charPositionY: -3ex;
    }
  }

  &__char {
    display: inline-block;
    transition: translate var(--duration-long) ease;
    translate: 0 var(--charPositionY);
  }
}
