.technology-badge {
  @include flex-center;

  flex-direction: column;
  row-gap: 0.25rem;

  &__body {
    @include flex-center;
    @include square-size(fluid(64, 44));

    overflow: hidden;
    padding: fluid(16, 4);
    background-image: var(--gradient-bg);
    border-radius: 50%;
    box-shadow: var(--shadow-l);

    @include hover {
      background-image: var(--gradient-bg-hover);
    }
  }

  &__logo {
    aspect-ratio: 1;
    object-fit: contain;
  }
}
