@property --buttonBorderGradientAngle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.button {
  --buttonTextColor: var(--color-white);
  --buttonBgColor: var(--color-accent);
  --buttonSpacing: 8px;
  --buttonSpacingX: calc(var(--buttonSpacing) * 2);

  @include flex-center(true);

  column-gap: var(--buttonSpacing);
  height: 44px;
  padding: var(--buttonSpacing) var(--buttonSpacingX);
  font-weight: 500;
  color: var(--buttonTextColor);
  background-color: var(--buttonBgColor);
  border: none;
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-l);
  user-select: none;

  &:active {
    box-shadow: var(--shadow-s);
  }

  @include hover-focus {
    --buttonTextColor: var(--color-accent);
    --buttonBgColor: var(--color-white);
  }

  &:disabled {
    @include disabled;
  }

  &:has(.button__icon:only-child) {
    padding: var(--buttonSpacing);
  }

  &--transparent {
    --buttonBgColor: transparent;
    --buttonTextColor: var(--color-text);

    box-shadow: none;

    &:active {
      scale: 0.95;
    }

    @include hover-focus {
      --buttonTextColor: var(--color-accent);
      --buttonBgColor: transparent;

      box-shadow: inherit;
    }
  }

  &--accent {
    --buttonBorderGradient: conic-gradient(
      from var(--buttonBorderGradientAngle),
      var(--color-white),
      var(--color-accent),
      var(--color-white),
      var(--color-accent),
      var(--color-white)
    );

    background:
      linear-gradient(var(--color-accent), var(--color-accent))
        padding-box,
      var(--buttonBorderGradient) border-box;
    border: 3px solid transparent;
    box-shadow:
      inset 0 0 1px 1px var(--color-white),
      0 0 150px 10px var(--color-accent);
    animation: 3s rotate-border linear infinite;

    @keyframes rotate-border {
      to {
        --buttonBorderGradientAngle: 360deg;
      }
    }

    @include hover-focus {
      background:
        linear-gradient(var(--color-white), var(--color-white))
          padding-box,
        var(--buttonBorderGradient) border-box;
      box-shadow: 0 0 150px 10px var(--color-white);
    }

    &:active {
      box-shadow: 0 0 150px 5px var(--color-white);
    }
  }
}
