.button {
  --buttonTextColor: white;
  --buttonBgColor: var(--color-accent);
  --buttonSpacing: 8px;
  --buttonSpacingX: calc(var(--buttonSpacing) * 2);

  @include flex-center(true);

  column-gap: var(--buttonSpacing);
  height: 44px;
  padding: var(--buttonSpacing) var(--buttonSpacingX);
  font-weight: 500;
  color: var(--buttonTextColor);
  background-color: var(--buttonBgColor);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-l);
  user-select: none;

  &:active {
    box-shadow: var(--shadow-s);
  }

  @include hover {
    --buttonTextColor: var(--color-accent);
    --buttonBgColor: white;
  }

  &:disabled {
    @include disabled;
  }

  &:has(.button__icon:only-child) {
    padding: var(--buttonSpacing);
  }

  &--transparent {
    --buttonBgColor: transparent;

    @include hover {
      --buttonTextColor: var(--color-accent);
      --buttonBgColor: transparent;
    }
  }
}
