.json-text {
  overflow: hidden;
  margin: 0;

  code {
    font-family: monospace;
    color: var(--color-text);
  }

  &__key {
    font-weight: 600;
    color: var(--color-accent);
    color: rgb(214, 45, 150);
  }

  &__string {
    color: var(--color-accent);
  }

  &__boolean,
  &__number {
    font-weight: 500;
    color: rgb(0, 207, 165);
  }

  &__null,
  &__undefined,
  &__nan {
    font-style: italic;
    color: rgb(194, 154, 251);
  }

  &__brace {
    font-weight: 600;
    color: rgb(0, 204, 253);
  }

  &__bracket {
    font-weight: 600;
    color: rgb(255, 183, 0);
  }
}
