.preloader {
  @include flex-center;

  position: fixed;
  z-index: 900;
  inset: 0;
  min-height: 100svh;
  background-color: var(--color-accent-secondary);
  opacity: 0;
  animation-name: preloader-fade-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  pointer-events: none;

  @keyframes preloader-fade-out {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  &__ellipse {
    @include abs-cover;

    background-color: var(--color-accent);
    animation-name: ellipse;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes ellipse {
      0% {
        clip-path: ellipse(0% 0% at 50% 50%);
      }

      100% {
        clip-path: ellipse(250% 60% at 50% 50%);
      }
    }
  }

  &__logo {
    position: absolute;
    z-index: 1000;
    width: var(--hero-logo-width);
    fill: var(--color-accent-secondary);
  }
}
