.accordion-group {
  --accordionGroupCounterHeight: 44px;

  &--has-counter {
    list-style: none;
    counter-reset: custom-counter;

    .accordion-group__item {
      display: flex;
      column-gap: 12px;
      counter-increment: custom-counter;

      &::before {
        @include flex-center;

        content: counter(custom-counter, decimal-leading-zero);
        min-width: 44px;
        height: var(--accordionGroupCounterHeight);
        font-size: 16px;
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-accent);
        border: var(--border);
        border-radius: var(--border-radius-s);
      }
    }
  }

  &--2-columns {
    column-count: 2;
    column-gap: 16px;

    @include tablet-below {
      column-count: 1;
    }
  }

  &__item {
    break-inside: avoid-column;
    padding: 16px;
  }
}
