.section {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: fluid(16, 12);
  }
}
