.section {
  display: flex;
  flex-direction: column;
  margin-block: var(--section-margin-y);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid(32, 24);
  }

  &--full-height {
    min-height: calc(100vh - var(--header-height));

    .section__inner {
      flex-grow: 1;
    }

    .section__body {
      flex-grow: 1;
    }
  }
}
