.section {
  margin-block: var(--section-margin-y);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
  }

  &__body {
    display: flex;
  }

  &--full-height {
    min-height: 100vh;

    &__body {
      height: 100%;
    }
  }
}
