.section {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid(32, 24);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @include tablet-below {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &--full-height {
    .section__inner {
      min-height: calc(100vh - var(--header-height));
    }
  }
}
