.hero {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  animation-name: hero-fade-out;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 60vh;

  @keyframes hero-fade-out {
    100% {
      opacity: 0;
    }
  }

  &__inner {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-areas:
      'top'
      'center'
      'bottom';
    place-items: center center;
    background:
      var(--bg-overlay),
      url('../../assets/bg.svg') 100% / cover,
      var(--color-bg-dark);
    background-repeat: no-repeat;
  }

  &__logo {
    grid-area: center;
    width: var(--hero-logo-width);
    fill: var(--color-accent);
  }

  &__subtitle {
    grid-area: bottom;
    align-self: end;
    position: relative;
    width: 100%;
    margin-bottom: 10vh;
    padding-inline: 2rem;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: 80%;
      left: 50%;
      background-image: url('/src/assets/icons/arrow-down.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      translate: -50% 0;
      animation: 700ms bouncing-arrow ease-in infinite alternate;

      @include square-size(#{fluid(70, 40)});

      @keyframes bouncing-arrow {
        to {
          transform: translateY(20%);
        }
      }
    }
  }
}