html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-text);
}

h1,
.h1 {
  font-size: 24px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 18px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 16px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 16px;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 14px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.preloader {
  @include flex-center;

  position: fixed;
  z-index: 998;
  inset: 0;
  background-color: var(--color-accent-secondary);
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  pointer-events: none;

  &__logo {
    position: absolute;
    z-index: 999;
    width: fluid(700, 300);
    fill: var(--color-accent-secondary);
  }

  &__circle {
    @include abs-cover;

    background-color: var(--color-accent);
    animation-name: ellipse;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes ellipse {
    0% {
      clip-path: ellipse(0% 0% at 50% 50%);
    }

    100% {
      clip-path: ellipse(250% 60% at 50% 50%);
    }
  }
}
