html {
  scroll-padding-top: var(--header-height);

  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-text);
}

h1,
.h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-size: fluid(40, 24);
  font-weight: 700;
}

h3,
.h3 {
  font-size: fluid(32, 20);
  font-weight: 700;
}

h4,
.h4 {
  font-size: fluid(18, 14);
  font-weight: 600;
}

h5,
.h5 {
  font-size: 14px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
