html {
  scroll-padding-top: 15vh;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-text);
}

h1,
.h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-size: fluid(40, 24);
  font-weight: 700;
}

h3,
.h3 {
  font-size: fluid(32, 20);
  font-weight: 700;
}

h4,
.h4 {
  font-size: fluid(18, 14);
  font-weight: 600;
}

h5,
.h5 {
  font-size: 14px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.preloader {
  @include flex-center;

  position: fixed;
  z-index: 900;
  inset: 0;
  min-height: 100svh;
  background-color: var(--color-accent-secondary);
  opacity: 0;
  animation-name: preloader-fade-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  pointer-events: none;

  @keyframes preloader-fade-out {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  &__ellipse {
    @include abs-cover;

    background-color: var(--color-accent);
    animation-name: ellipse;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes ellipse {
      0% {
        clip-path: ellipse(0% 0% at 50% 50%);
      }

      100% {
        clip-path: ellipse(250% 60% at 50% 50%);
      }
    }
  }

  &__logo {
    position: absolute;
    z-index: 1000;
    width: var(--hero-logo-width);
    fill: var(--color-accent-secondary);
  }
}
