.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  @include hide;
}

.hidden-laptop {
  @include laptop-below {
    display: none !important;
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet-below {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile-below {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile-s {
  @include mobile-s-below {
    display: none !important;
  }
}

.visible-mobile-s {
  @include mobile-s-above {
    display: none !important;
  }
}
