:root {
  --color-bg-dark: hsl(0deg 0% 0%);
  --color-bg: hsl(0deg 0% 5%);
  --color-bg-light: hsl(0deg 0% 10%);

  --color-accent: oklch(75% 0.25 290deg);
  --color-accent-secondary: oklch(25% 0.25 290deg);

  --color-text: hsl(0deg 0% 95%);
  --color-text-secondary: hsl(0deg 0% 70%);

  --color-border: hsl(0deg 0% 30%);
  --color-border-top: hsl(0deg 0% 60%);

  --gradient: linear-gradient(
    0deg,
    var(--color-bg) 95%,
    var(--color-bg-light)
  );
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-bg-light)
  );
  --gradient-accent: linear-gradient(
    90deg,
    var(--color-accent),
    var(--color-accent-secondary)
  );

  --bg-mask: radial-gradient(
    ellipse at center,
    color-mix(in srgb, var(--color-bg-dark) 60%, transparent) 0%,
    color-mix(in srgb, var(--color-bg-dark) 75%, transparent) 40%,
    color-mix(in srgb, var(--color-bg-dark) 100%, transparent) 70%,
    var(--color-bg-dark) 100%
  );

  --border: 1px solid var(--color-border);
  --border-top: 1px solid var(--color-border-top);

  --border-radius: 0.5rem;

  --shadow-s:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.188),
    1px 2px hsla(0deg, 0%, 0%, 0.188),
    0 2px 4px hsla(0deg, 0%, 0%, 0.082);
  --shadow-m:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.314),
    2px 4px hsla(0deg, 0%, 0%, 0.188),
    0 4px 8px hsla(0deg, 0%, 0%, 0.082);
  --shadow-l:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.439),
    0 4px 6px hsla(0deg, 0%, 0%, 0.188),
    0 6px 10px hsla(0deg, 0%, 0%, 0.082);

  --font-family-base: 'Manrope', san-serif;

  --container-padding-x: #{fluid(
      $container-padding-desktop,
      $container-padding-mobile
    )};
  --container-width: #{fluid($desktop-width, $min-viewport-width)};

  --section-margin-y: #{fluid(
      $section-margin-y-desktop,
      $section-margin-y-mobile
    )};
  --section-gap: #{fluid($section-gap-desktop, $section-gap-mobile)};

  --transition-duration: 0.2s;
  --transition-duration-long: 0.4s;

  // ! class .l means Light Theme. Is used for development purpose, will be changed
  &.l {
    --color-bg-dark: hsl(0deg 0% 90%);
    --color-bg: hsl(0deg 0% 95%);
    --color-bg-light: hsl(0deg 0% 100%);

    --color-accent: oklch(25% 0.25 290deg);
    --color-accent-secondary: oklch(75% 0.25 290deg);

    --color-text: hsl(0deg 0% 5%);
    --color-text-secondary: hsl(0deg 0% 30%);

    --color-border: var(--color-bg);
    --color-border-top: hsl(0deg 0% 100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0.001s;
    --transition-duration-long: 0.001s;
  }
}
