:root {
  --color-white: hsl(0deg 0% 95%);

  --gradient-bg: linear-gradient(
    0deg,
    var(--color-bg) 95%,
    var(--color-bg-light)
  );
  --gradient-bg-hover: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-bg-light)
  );
  --gradient-accent: linear-gradient(
    90deg,
    var(--color-accent),
    var(--color-accent-secondary)
  );

  --bg-overlay: radial-gradient(
    ellipse at center,
    color-mix(in srgb, var(--color-bg-dark) 60%, transparent) 0%,
    color-mix(in srgb, var(--color-bg-dark) 75%, transparent) 40%,
    color-mix(in srgb, var(--color-bg-dark) 100%, transparent) 70%,
    var(--color-bg-dark) 100%
  );

  --border: 1px solid var(--color-text-secondary);

  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 1.5rem;

  --shadow-s:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.188),
    0 1px 2px hsla(0deg, 0%, 0%, 0.188),
    0 2px 4px hsla(0deg, 0%, 0%, 0.082);
  --shadow-m:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.314),
    0 2px 4px hsla(0deg, 0%, 0%, 0.188),
    0 4px 8px hsla(0deg, 0%, 0%, 0.082);
  --shadow-l:
    inset 0 1px 2px hsla(0deg, 0%, 100%, 0.439),
    0 4px 6px hsla(0deg, 0%, 0%, 0.188),
    0 6px 10px hsla(0deg, 0%, 0%, 0.082);

  --font-family-base: 'Manrope', san-serif;

  --container-padding-x: #{fluid(
      $container-padding-desktop,
      $container-padding-mobile
    )};
  --container-width: #{fluid($desktop-width, $min-viewport-width)};

  --section-gap: #{fluid($section-gap-desktop, $section-gap-mobile)};

  --duration: 0.2s;
  --duration-long: 0.4s;

  --header-height: #{fluid(120, 60)};
  --hero-logo-width: #{fluid(700, 300)};

  &[data-theme='dark'] {
    --color-bg-dark: hsl(0deg 0% 0%);
    --color-bg: hsl(0deg 0% 10%);
    --color-bg-light: hsl(0deg 0% 15%);

    --color-accent: oklch(75% 0.25 290deg);
    --color-accent-secondary: oklch(25% 0.25 290deg);

    --color-text: hsl(0deg 0% 95%);
    --color-text-secondary: hsl(0deg 0% 70%);
  }

  &[data-theme='light'] {
    --color-bg-dark: hsl(0deg 0% 90%);
    --color-bg: hsl(0deg 0% 95%);
    --color-bg-light: hsl(0deg 0% 100%);

    --color-accent: oklch(25% 0.25 290deg);
    --color-accent-secondary: oklch(75% 0.25 290deg);

    --color-text: hsl(0deg 0% 5%);
    --color-text-secondary: hsl(0deg 0% 30%);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --duration: 0.001s;
    --duration-long: 0.001s;
  }
}
