.card {
  padding: fluid(24, 12);
  background-image: var(--gradient-bg);
  border-radius: var(--border-radius-m);

  &-layer-1 {
    box-shadow: var(--shadow-s);
  }

  &-layer-2 {
    box-shadow: var(--shadow-m);
  }

  &-layer-3 {
    box-shadow: var(--shadow-l);
  }

  &--hoverable {
    @include hover {
      background-image: var(--gradient-bg-hover);
    }
  }
}
