.theme-toggle {
  --switchHeight: 46px;
  --sliderSize: calc(var(--switchHeight) - 6px);

  position: relative;
  display: inline-flex;
  align-items: center;
  aspect-ratio: 2 / 1;
  height: var(--switchHeight);
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius-l);
  box-shadow: inset 0 -1px 0 hsla(0deg, 0%, 45%, 0.5);
  transition: background-color 0.2s;

  &__slider {
    position: absolute;
    left: 3px;
    background-image: url('/src/assets/icons/moon.svg');
    background-color: var(--color-white);
    border-radius: 50%;
    box-shadow: var(--shadow-l);
    transition: left var(--duration);

    @include square-size(var(--sliderSize));
  }

  &__checkbox:checked + &__slider {
    left: calc(100% - var(--sliderSize) - 3px);
    background-image: url('/src/assets/icons/sun.svg');
  }

  &:has(&__checkbox:checked) {
    background-color: var(--color-accent);
  }
}
