// ? ––––––––––––––––––––– Scroll Animated Header –––––––––––––––––––––
.header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-block: var(--section-padding-y);
  border-bottom: var(--border-width) solid transparent;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 200px;

  @keyframes scrolling-header {
    to {
      background-color: var(--color-accent-dark);
      border-color: var(--color-accent-light);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-dark);
    border: none;
    transition-behavior: allow-discrete;
    transition-duration: var(--transition-duration);

    @include to-tablet {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 100%;
    }

    &[open] {
      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]) {
      @include starting-styles;
    }
  }

  &__menu {
    @include from-tablet {
      overflow-y: auto;
      height: 100%;

      @include flex-center;
    }

    &-list {
      @include flex-center;

      gap: 8px;

      @include from-tablet {
        flex-direction: column;
      }
    }

    &-link {
      padding: fluid(12, 8) fluid(24, 16);
      color: var(--color-grey-light);

      @include hover {
        color: var(--color-white);
      }

      &.is-active {
        color: var(--color-accent-light);
        pointer-events: none;
      }
    }
  }

  &__burger-button {
    position: relative;
  }
}

// ? ––––––––––––––––––––– Static Sticky Header –––––––––––––––––––––
// .header {
// padding-block: var(--section-padding-y);
//   position: sticky;
//   z-index: 100;
//   top: 0;
//   border-bottom: var(--border-width) solid var(--color-accent-light);
//   background-color: var(--color-accent-dark);

//   &__inner {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     column-gap: 20px;
//   }

//   &__overlay-menu-dialog {
//     position: fixed;
//     inset: 0;
//     width: 100%;
//     height: 100%;
//     background-color: var(--color-accent-dark);
//     border: none;
//     transition-behavior: allow-discrete;
//     transition-duration: var(--transition-duration);

//     @include to-tablet {
//       display: contents;
//     }

//     @mixin starting-styles {
//       opacity: 0;
//       translate: 100%;
//     }

//     &[open] {
//       @starting-style {
//         @include starting-styles;
//       }
//     }

//     &:not([open]) {
//       @include starting-styles;
//     }
//   }

//   &__menu {
//     @include from-tablet {
//       overflow-y: auto;
//       height: 100%;

//       @include flex-center;
//     }

//     &-list {
//       @include flex-center;

//       gap: 8px;

//       @include from-tablet {
//         flex-direction: column;
//       }
//     }

//     &-link {
//       padding: fluid(12, 8) fluid(24, 16);
//       color: var(--color-grey-light);

//       @include hover {
//         color: var(--color-white);
//       }

//       &.is-active {
//         color: var(--color-accent-light);
//         pointer-events: none;
//       }
//     }
//   }

//   &__burger-button {
//     position: relative;
//   }
// }
