.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: fluid(160, 80);

  @include flex-center;

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 60vh;

  @keyframes scrolling-header {
    to {
      height: var(--header-height);
      background-color: var(--color-bg-light);
      border-color: var(--color-accent);
      box-shadow:
        0 4px 6px hsla(0deg, 0%, 0%, 0.188),
        0 6px 10px hsla(0deg, 0%, 0%, 0.082);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background:
      var(--bg-overlay),
      url('../../assets/bg.svg') 50% / cover,
      var(--color-bg-dark);
    background-repeat: no-repeat;
    border: none;
    transition-behavior: allow-discrete;
    transition-duration: var(--duration);

    @include to-mobile {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 100%;
    }

    &[open] {
      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]) {
      @include starting-styles;
    }
  }

  &__menu {
    @include from-mobile {
      overflow-y: auto;
      height: 100%;

      @include flex-center;
    }

    &-list {
      @include flex-center;

      gap: 2rem;

      @include from-mobile {
        flex-direction: column;
      }
    }

    &-item {
      display: flex;
    }

    &-link {
      font-size: 24px;
      text-transform: uppercase;

      &.is-active {
        color: var(--color-accent);
        pointer-events: none;
      }
    }
  }

  &__burger-button {
    position: relative;
  }
}
